  <footer class="footer">

        <div class="enlaces">
            <a href="/">Inicio</a>
            <a href="/Panels">Paneles</a>
            <a href="/trailers">trailers</a>
        </div>

        <p class="centrar">Todos los derechos reservados. José Mario Lucas Contreras 2023</p>
</footer>