 <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="/">Home</a>
            <a href="/paneles">Paneles</a>
            <a href="/trailers">Trailers</a>
        </nav>
 </div>