<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseñador Freelancer</title>
    <link rel="preload" href="assent/css/normalize.css" as="style">
    <link rel="stylesheet" href="assent/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="assent/css/styles.css" as="style">
    <link href="assent/css/styles.css" rel="stylesheet">
</head>
<body>
   {{> header}}
    
    {{> nav}}
    
        
    <section class="hero">
        <div class="contenido-hero">
        </div> <!-- .contenido-hero --> 
    </section>
    
    <main class="contenedor sombra">
        <h2>Trailers</h2>
        <p>Vehículo Adecuado para el Transporte de Trailer Completo
            El transporte de trailer completo es un tipo de transporte terrestre que cuenta con formas muy diversas de transporte y muchos tipos de vehículos para el transporte de mercancías.
            
            Dependiendo del transporte de mercancías, de sus dimensiones o de la estructura del camión deberemos usar un vehículo más apropiado u otro para que el transporte sea el adecuado a nuestras necesidades.
            
            Podemos realizar el transporte de un trailer completo de muchas formas, es decir, puede cargarse con mercancía de un solo cliente, con grupajes de distintos clientes, con mercancías de gran volumen (por ejemplo: paja, no pesa mucho, pero ocupa gran cantidad de espacio).
            
            Tipos de trailer completo en el transporte según su mercancía
            Según el tipo de materiales que se envíen en el transporte de trailer completo, podemos clasificar los vehículos de la siguiente forma:
            
            Tauliner o trailer lona
            Es el vehículo más habitual y común por sus capacidades, ya que se semirremolque se encuentra cubierto por unas lonas por los laterales y la parte superior que puedes ser retiradas para que en el momento necesario la carga sea por los laterales, por la parte trasera y por la parte superior, dependiendo en todo momento de las necesidades de la mercancía a cargar en el vehículo.
            
            Esto le permite ser un vehículo muy cómodo para adaptarse a una gran cantidad de materiales, además de ser uno de los más recomendados para mercancías que suelen ser complicadas a la hora de cargar.
            
            Plataforma abierta
            La plataforma donde va la carga está abierta, puede ir parcialmente cubierta por los laterales para que la mercancía no se mueva. Se suele emplear para el transporte de materiales de construcción.
            
            Mega trailer
            Cuenta con cortinas correderas como es el caso de la tauliner. Tienen una altura de 3 metros y una cubierta superior elevable. Este tipo de trailer es adecuado para mercancías de gran volumen y carga de gran altura.
            
            Cisterna
            Se suele utilizar en el transporte de mercancía ADR para el transporte de productos líquidos, gaseosos y químicos, ya que estos productos tienen unas normativas de seguridad aplicables y especiales en cada caso.
            
            Frigorífico
            Son los vehículos que se encargan del transporte terrestre de la mercancía que tiene que ir en todo momento refrigerada. Pueden ser de tres tipos: frigoríficos, isotérmicos o refrigerados. Depende de si tienen sistemas de generación de frío o solo de aislamiento del exterior.
            
            También existen los camiones caloríficos, aunque son menos comunes.
            
            Tipos de trailer completo en el transporte según su peso
            Según el peso en el transporte de trailer completo se dividen entre grupos gracias a su Masa Máxima Autorizada (MMA).
            
            ¿Qué quiere decir MMA? Quiere decir cuanto pesa el total del vehículo, incluyendo la carga, la estructura, combustible…
            
            N1: Hasta 3.500 kgs
            N2: Superior a 3.500 kgs e inferior a 12.000 kgs
            N3: Superior a 12.000 kgs
             Tipos de trailer completo en el transporte según su nivel de emisiones
            Según el nivel de emisiones en el transporte de trailer completo, se pueden clasificar en Euro 5 o Euro 6.
            
            Estas nomenclaturas hacen referencia al nivel de emisiones que establece la Unión Europea (UE) que emiten los vehículos (óxido de nitrógeno, monóxido de carbono…).
            
            Euro 6 es la más reciente y obliga a los camiones, desde el año 2014, a atenerse a estas obligaciones de no contaminar desde los niveles establecidos desde que se realiza la primera compra.
            
            Todos los vehículos deben cumplir con la Euro 6, que es consecuencia de la Ley 595/2009 del Parlamento Europeo y de la Ley del Consejo del 18/06/09.
            
            Obliga a una reducción adicional del 80% en el límite de los Óxidos de Nitrógeno, una disminución de más de un 70% para los Hidrocarburos, y a una caída del 50% en las partículas (g/kWh).</p>
        <div class="servicios">
            <section class="servicio">
                <h3>Transportes pesados</h3>
                <div class="iconos">
                    <svg> 
                        <img class="imgicon" src="/img/c2-turbo.png"  alt="">
                    </svg>
                </div>
                <p> C2 Turbo: un tipo de vehiculo para mudanza</p>
                <a class="boton" href="#">Saber más</a>
            </section>
        
            <section class="servicio">
                <h3>Plataformas</h3>
                <div class="iconos">
                    <img class="imgicon" src="/img/servicio-de-carga-pesada-empresa-de-transportes-de-carga-pesada-en-lima-peru.jpg" alt="">
                </div>
                <p>Transporte de plataformas para llevar carga  </p>
                <a class="boton" href="#">Saber más</a>
            </section>

            <section class="servicio">
                <h3>Trailers</h3>
                <div class="iconos">
                    <svg>
                        <img class="imgicon" src="/img/c3.png" alt="">
                    </svg>
                </div>
                <p> Camiones y traillers para carga de alto grado   </p>
                <a class="boton" href="">Saber más</a>
            </section>
        </div> <!--.servicios-->
  

    </main>
    <br>
    
    {{>footer}}
</body>
</html>